html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: arial;
    padding: 2vw;
    margin: 0;
    font-size: 4vw;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.hidden {
    display: none;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
}

.enabledList #container {
    display: none;
}

#imgContainer {
    width: calc(50% - 3vw);
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    text-align: center;
    color: transparent;
}

#imgContainer.disabledImages,
#imgContainer.noImage {
    background-image: none !important;
    color: black;
}

.cardContainer {
    width: calc(50% - 3vw);
    height: 100%;
    position: relative;
    perspective: 1000px;
}

.card {
    width: 37vw;
    height: 22vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    border: 1vw solid black;
    border-radius: 4vw;
    background-color: white;
    color: white;
}

#container.reveal:not(.disabledFlip) .card {
    transition: transform 0.6s;
    transform: translate(-50%, -50%) rotateY(180deg);
}

#cardFront {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3vw;
    transform: rotateY(0deg);
    background-color: white;
    background-image: url(./assets/flip_icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    cursor: pointer;
}

.disabledFlip #cardFront {
    display: none;
}

.cardBack {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container.separable .cardBack::after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    width: 5vw;
    height: 5vw;
    background-image: url(./assets/scissors-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.disabledFlip .cardBack {
    transform: none;
}

#container.genre_m .card {
    background-color: orange;
}

.bookColors #container.genre_m .card {
    background-color: blue;
}

#container.genre_f .card {
    background-color: blue;
}

.bookColors #container.genre_f .card {
    background-color: red;
}

#container.genre_n .card {
    background-color: green;
}

#container.genre_p .card {
    background-color: purple;
}

.bookColors #container.genre_p .card {
    background-color: orange;
}

#container.verb .card {
    color: black;
}

.navigation {
    width: 6vw;
    display: flex;
    flex-direction: column;
}

#next {
    width: 100%;
    height: 100%;
    background-image: url(./assets/right_arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

#previous {
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
    background-image: url(./assets/right_arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

#previous.disabled {
    opacity: .5;
    cursor: auto;
}

#counter {
    position: absolute;
    bottom: 2vw;
    right: 2vw;
    font-size: 2vw;
}

.enabledList #counter {
    display: none;
}

#list {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 4vw);
    height: calc(100% - 10vw);
    padding: 8vw 2vw 2vw 2vw;
    overflow: auto;
    font-size: 2vw;
}

.enabledList #list {
    display: block;
}

#list table {
    width: 100%;
}

#list tr {
    background-color: white;
    border: 1px solid black;
}

#list td {
    padding: 1vw;
}

#list .genre_m {
    background-color: orange;
    color: white;
}

.bookColors #list .genre_m {
    background-color: blue;
    color: white;
}

#list .genre_f {
    background-color: blue;
    color: white;
}

.bookColors #list .genre_f {
    background-color: red;
    color: white;
}

#list .genre_n {
    background-color: green;
    color: white;
}

#list .genre_p {
    background-color: purple;
    color: white;
}

.bookColors #list .genre_p {
    background-color: orange;
    color: white;
}

#list .verb.separable::after {
    content: '';
    position: absolute;
    width: 3vw;
    height: 3vw;
    background-image: url(./assets/scissors-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.verbVocalChange {
    font-style: italic;
}

#settingsIcon {
    position: absolute;
    top: 2vw;
    left: 2vw;
    width: 4vw;
    height: 4vw;
    background-image: url(./assets/settings_icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

#settingsIcon.closeIcon {
    background-image: url(./assets/close_icon.png);
}

#settingsContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 4vw);
    height: calc(100% - 10vw);
    padding: 8vw 2vw 2vw 2vw;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    overflow: auto;
}

.settingsBlock {
    border: 2px solid gray;
    padding: 2vw;
    border-radius: 2vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.settingsBlock:not(:last-child) {
    margin-bottom: 2vw;
}

.toggleContainer {
    display: flex;
    align-items: center;
}

.toggleContainer:not(:last-child) {
    margin-bottom: 1vw;
}

.toggleName {
    flex-grow: 1;
}

.toggleContainer.disabled .toggleName {
    color: gray;
}

.toggle {
    width: 6vw;
    height: 4vw;
    border-radius: 2vw;
    background-color: white;
    position: relative;
}

.toggle::after {
    display: block;
    position: absolute;
    right: 0;
    content: '';
    width: 4vw;
    height: 4vw;
    border-radius: 2vw;
    background-color: #186A02;
}

.toggleContainer.disabled .toggle::after {
    background-color: gray;
}

.toggleContainer.off .toggle::after {
    background-color: gray;
    right: auto;
    left: 0;
}

@media (orientation: portrait) {
    body {
        padding: 2vh;
        font-size: 4vh;
    }

    #container {
        flex-direction: column;
    }

    #imgContainer {
        width: 100%;
        height: calc(50% - 3vh);
        font-size: 8vh;
    }

    .cardContainer {
        width: 100%;
        height: calc(50% - 3vh)
    }

    .card {
        width: 38vh;
        height: 21vh;
        border: 1vh solid black;
        border-radius: 4vh;
    }

    #cardFront {
        border-radius: 3vh;
    }

    #container.verb .cardBack::after {
        width: 5vh;
        height: 5vh;
    }

    .navigation {
        width: 100%;
        height: 6vh;
        flex-direction: row;
    }

    #counter {
        bottom: 2vh;
        right: 2vh;
        font-size: 2vh;
    }

    #list {
        width: calc(100% - 4vh);
        height: calc(100% - 10vh);
        padding: 8vh 2vh 2vh 2vh;
        font-size: 2vh;
    }

    #list td {
        padding: 1vh;
    }

    #list .verb.separable::after {
        width: 3vh;
        height: 3vh;
    }
    
    #settingsIcon {
        top: 2vh;
        left: 2vh;
        width: 4vh;
        height: 4vh;
    }

    #settingsContainer {
        width: calc(100% - 4vh);
        height: calc(100% - 10vh);
        padding: 8vh 2vh 2vh 2vh;
    }

    .settingsBlock {
        padding: 2vh;
        border-radius: 2vh;
    }

    .settingsBlock:not(:last-child) {
        margin-bottom: 2vw;
    }

    .toggleContainer:not(:last-child) {
        margin-bottom: 1vh;
    }

    .toggle {
        width: 6vh;
        height: 4vh;
        border-radius: 2vh;
    }

    .toggle::after {
        width: 4vh;
        height: 4vh;
        border-radius: 2vh;
    }
    
  }